<p id="notice"><%= notice %></p>

<h1 class="is-size-4">Administradores</h1>

<br>

<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Correo</th>
        <th>Fecha registro</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= link_to 'Editar', edit_admin_user_path(user) %></td>
          <td><%= link_to 'Eliminar', admin_user_path(user), method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Admin nuevo', new_admin_user_path, class: 'button is-primary' %>
