<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <b>Venazul.mx</b>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <% if current_user %>
      <div class="navbar-start">
        <%= link_to 'Configuración', admin_root_path, class: 'navbar-item' %>
        <%= link_to 'Albumes', admin_albums_path, class: 'navbar-item' %>
        <%= link_to 'Preguntas Frecuentes', admin_faqs_path, class: 'navbar-item' %>
        <%= link_to 'Administradores', admin_users_path, class: 'navbar-item' %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <b><%= current_user.email %></b>
        </div>
        <%= link_to "Salir", admin_logout_path, method: :post, class: 'navbar-item' %>
      </div>
    <% end %>
  </div>
</nav>