<footer id="contacto">
	<h2>Contacto</h2>
	<hr>
	<div class="info">
		<%= @settings.address %>
		<span>Tel. <%= @settings.telephone %></span>
	</div>
	<div class="social">
		<ul>
			<li><a href="<%= @settings.instagram %>"><%= image_tag 'insta.png', alt: 'insta' %></a></li>
			<li><a href="<%= @settings.facebook %>"><%= image_tag 'fb.png', alt: 'fb' %></a></li>
			<li><a href="<%= @settings.vsite %>"><%= image_tag 'vs.png', alt: 'vsite' %></a></li>
		</ul>
	</div>
</footer>
