<div class="header">
	<div class="top">
		<div class="logo">
			<a href="/"><%= image_tag 'logo.png', alt: 'Venazul' %></a>
		</div>
	</div>

	<nav class="nav">
		<div class="item">
			<%= link_to 'Nosotros', '/#nosotros' %>		
		</div>
		<div class="item">
			<%= link_to 'Portafolio', '/#portafolio' %>
		</div>
		<div class="item">
			<%= link_to 'Preguntas Frecuentes', faq_path %>
		</div>
		<div class="item">
			<%= link_to 'Contacto', '/#contacto' %>
		</div>
	</nav>
</div>
