<!DOCTYPE html>
<html>
  <head>
    <title>Venazul - ADMIN</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'bulma', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container is-fluid">
      <%= render 'layouts/admin_nav' %>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <p class="notification is-warning" id="notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert] %>
        <p class="notification is-danger" id="alert"><%= flash[:alert] %></p>
      <% end %>

      <div class="section">
        <%= yield %>
      </div>
    </div>
    <br>
    <br>
  </body>
</html>
